<div class="container-fluid container-fixed-lg footer" ng-class="{'pull-bottom': is('app.maps.vector') }">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-right sm-pull-reset">
            Theme by <span class="font-montserrat">REVOX</span>.
        </p>
        <div class="clearfix"></div>
    </div>
</div>