<div class="header " ng-class="{'transparent': is('app.maps.vector') || is('app.maps.google') }">
    <div class="pull-left full-height visible-sm visible-xs">
        <div class="sm-action-bar">
            <a href="" class="btn-link toggle-sidebar" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
            </a>
        </div>
    </div>
    <div class="pull-right full-height visible-sm visible-xs">
        <div class="sm-action-bar">
            <a href="" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
                <span class="icon-set menu-hambuger-plus"></span>
            </a>
        </div>
    </div>
    <div class=" pull-left sm-table">
        <div class="header-inner">
            <div class="brand inline">
                <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil"
                     data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            </div>
            <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-20 p-r-10">
                <li class="p-r-15 inline">
                    <div class="dropdown">
                        <a href="javascript:;" id="notification-center" class="icon-set globe-fill"
                           data-toggle="dropdown">
                            <span class="bubble"></span>
                        </a>
                        <div class="dropdown-menu notification-toggle" role="menu"
                             aria-labelledby="notification-center">
                            <div class="notification-panel">
                                <div class="notification-body scrollable" ui-jq="scrollbar" ui-options="{
            ignoreOverlay: false
        }">
                                    <div class="notification-item  clearfix">
                                        <div class="heading">
                                            <a href="" class="text-danger">
                                                <i class="fa fa-exclamation-triangle m-r-10"></i>
                                                <span class="bold">98% Server Load</span>
                                                <span class="fs-12 m-l-10">Take Action</span>
                                            </a>
                                            <span class="pull-right time">2 mins ago</span>
                                        </div>
                                        <div class="option">
                                            <a href="" class="mark"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="notification-footer text-center">
                                    <a href="" class="">Read all notifications</a>
                                    <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="">
                                        <i class="pg-refresh_new"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <span style="width:20px">&nbsp;</span>
            <span ng-controller="SearchController">
                <i class="pg-search"></i> <input ng-model="search.query" type="text" placeholder="Type to search"
                                                 style="outline:none;border:0px;font-size:18px;"
                                                 ng-keypress="$event.which === 13 && search()"/>
                <!--
                <input type="checkbox" id="searchSeries" ng-model="searchForSeries" ng-checked="searchForSeries"> <label for="searchSeries">Series</label>
                <input type="checkbox" id="searchTorrents" ng-model="searchForTorrents" ng-checked="searchForTorrents"> <label for="searchTorrents">Torrents</label>
                //-->
            </span>
        </div>
    </div>
    <div class="pull-right">
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                <span class="semi-bold">{{ currentUser.first_name }}</span> <span class="text-master">{{currentUser.last_name}}</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg"
                     ui-jq="unveil" data-src-retina="assets/img/profiles/avatar2x.jpg" width="32" height="32">
            </span>
                </button>
                <ul class="dropdown-menu profile-dropdown" role="menu">
                    <li><a href=""><i class="pg-settings_small"></i> Settings</a>
                    </li>
                    <li><a href=""><i class="pg-outdent"></i> Feedback</a>
                    </li>
                    <li><a href=""><i class="pg-signals"></i> Help</a>
                    </li>
                    <li class="bg-master-lighter" ng-controller="AuthController as auth">
                        <a ng-click="auth.logout()" class="clearfix">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
