<div class="page-sidebar" data-pages="sidebar" pg-sidebar>
    <div id="appMenu" class="sidebar-overlay-slide from-top"></div>
    <div class="sidebar-header">
        <img src="assets/img/logo_white.png" alt="logo" class="brand" data-src="assets/img/logo_white.png"
             data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
            <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button">
                <i class="fa fa-angle-down fs-16"></i>
            </button>
            <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i
                    class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu-items">
            <li class="m-t-30">
                <a ng-href="/#/app/dashboard">
                    <span class="title">Dashboard</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-dashboard"></i></span>
            </li>
            <li class="">
                <a ng-href="/#/app/series">
                    <span class="title">Series</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-television"></i></span>
            </li>
            <li class="">
                <a ng-href="/#/app/wishes">
          <span class="title">
            Wishes
            <span ng-controller="WishBadgeController">
              <span ng-if="wishes.fulfilled" class="badge badge-important badge-left">{{ wishes.fulfilled }}</span><span
                    class="badge badge-inverse" ng-class="wishes.fulfilled ? 'badge-right' : ''"
                    ng-if="wishes.fulfilled || wishes.unfulfilled">{{ wishes.unfulfilled }}</span>
            </span>
          </span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-star"></i></span>
            </li>
            <li class="">
                <a ng-href="/#/app/folders">
                    <span class="title">Folders</span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-folder"></i></span>
            </li>
            <li class="">
                <a ng-href="/#/app/files">
                    <span class="title">Files</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-file"></i></span>
                <ul class="sub-menu" style="display: block;">
                    <li class="">
                        <a ng-href="/#/app/files/downloads">Process Downloads</a>
                        <span class="icon-thumbnail">P</span>
                    </li>
                </ul>
            </li>
            <li class="">
                <a ng-href="/#/app/logbooks">
                    <span class="title">Logbooks</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-book"></i></span>
            </li>
            <li class="">
                <a ng-href="/#/app/transmission">
          <span class="title">
            Transmission
            <span ng-controller="TransmissionBadgeController">
              <span ng-if="transmission.finished"
                    class="badge badge-important" ng-class="transmission.unfinished ? 'badge-left' : ''">{{ transmission.finished }}</span><span
                    class="badge badge-inverse" ng-class="transmission.finished ? 'badge-right' : ''"
                    ng-if="transmission.unfinished">{{ transmission.unfinished }}</span>
              <div ng-if="transmission.progressPercentage && transmission.unfinished" class="progress"
                   style="width: 90%">
                  <div class="progress-bar progress-bar-primary"
                       style="width: {{ transmission.progressPercentage }}%;"></div>
              </div>
            </span>
          </span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-download"></i></span>
            </li>
            <li class="">
                <a ng-href="/#/app/feeds">
                    <span class="title">Feeds</span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-rss"></i></span>
                <ul class="sub-menu" style="display: block;">
                    <li class="">
                        <a ng-href="/#/app/feeds/1">TorrentLeech</a>
                        <span class="icon-thumbnail">TL</span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>