/*

* Override Pages default styles or create your own styles here

*/

.page-sidebar .sidebar-menu .menu-items > li > a > .title {
    width: 100%;
}

.page-sidebar .sidebar-menu .menu-items li > a {
    width: 75%;
}

.badge-left {
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 16px;
    -moz-border-radius-bottomleft: 16px;
    -webkit-border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    -moz-border-radius-topleft: 16px;
    -webkit-border-top-left-radius: 16px;
}

.badge-right {
    margin-right: 10px;
    border-top-right-radius: 16px;
    -moz-border-radius-topright: 16px;
    -webkit-border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    -moz-border-radius-bottomright: 16px;
    -webkit-border-bottom-right-radius: 16px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
}