<div ng-include src="'tpl/blocks/sidebar.html'" include-replace></div>
<div class="page-container">
    <div ng-include="'tpl/blocks/header.html' "></div>
    <div class="page-content-wrapper">
        <div class="content">
            <div class="full-height full-width" ui-view></div>
        </div>
        <div ng-include="'tpl/blocks/footer.html'"></div>
    </div>
</div>