<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/app/folders">Folders</a>
        </li>
    </ul>
</div>

<div class="jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="col-lg-12 col-md-12 ">
            <div class="panel panel-transparent">
                <div class="panel-body" style="padding-bottom: 0px">
                    <button ng-click="openAddFolderModal()" class="btn btn-primary btn-cons">Add folder</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-fixed-lg bg-white">
    <div class="panel panel-transparent">
        <div class="panel-body">
            <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

            <div ng-show="!loading && !folders.length">
                No data
            </div>

            <table ng-show="!loading && folders.length" class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 120px">Since</th>
                    <th>Name</th>
                    <th style="width: 100px">Free</th>
                    <th style="width: 100px">Total</th>
                    <th style="width: 50px">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="folder in folders">
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="folder.created_at | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="folder.name"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="folder.space.free.human"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="folder.space.total.human">22GB</p>
                    </td>
                    <td>
                        <button ng-click="openDeleteFolderModal($event, folder)" type="button"
                                class="btn btn-sm btn-danger">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>