<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a class="active" href="/#/logbooks">Logbooks</a>
        </li>
    </ul>
</div>

<div class="container-fluid container-fixed-lg sm-p-l-5">
    <div class="timeline-container top-circle">
        <div ng-show="loading" class="progress-circle-indeterminate m-t-45"></div>

        <div ng-show="!loading && !logbooks.length">
            No data
        </div>

        <section ng-show="!loading && logbooks.length">
            <div class="timeline-block" ng-repeat="logbook in logbooks">
                <div class="timeline-point" ng-class="logbook.type | lowercase">
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Series'" class="fa fa-television"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Wish'" class="fa fa-star"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Folder'" class="fa fa-folder"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'File'" class="fa fa-file"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Transmission'" class="fa fa-download"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Torrent'" class="fa fa-download"></i>
                    <i ng-if="(logbook.event | stripAfterSlash) == 'Feeds'" class="fa fa-rss"></i>
                </div>
                <div class="timeline-content">
                    <div class="card share full-width">
                        <div class="card-header clearfix">
                            <h5>{{ logbook.event }}</h5>
                            <small class="fs-12 hint-text">{{ logbook.created_at }} <span
                                    ng-if="logbook.event == 'Feeds/Refresh'">- {{ logbook.updated_at }}</span></small>
                        </div>
                        <div class="card-description" style="word-wrap: break-word;">
                            <p>{{ logbook.message }}</p>
                            <div class="via">by {{ logbook.user.first_name }} ({{ logbook.ip_address }})</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>