<div class="container-fluid container-fixed-lg ">
    <ul class="breadcrumb">
        <li>
            <a href="/#/">Home</a>
        </li>
        <li><a ng-class="searchQuery ? '' : 'active'">Search</a></li>
        <li ng-if="searchQuery"><a class="active">{{ searchQuery }}</a></li>
    </ul>
</div>

<div class="container-fluid container-fixed-lg bg-white">
    <div ng-if="searchForSeries" class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Series results</div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div ng-show="seriesLoading" class="progress-circle-indeterminate m-t-45"></div>

            <div ng-show="!seriesLoading && !searchResults.series.length">
                No series matched
            </div>

            <table ng-show="!seriesLoading && searchResults.series.length" class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 35px">&nbsp;</th>
                    <th style="width: 20%">Series</th>
                    <th class="text-center" style="width: 10%">Status</th>
                    <th>Summary</th>
                    <th style="width: 120px">Premiered at</th>
                    <th style="width: 100px">Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="series in searchResults.series">
                    <td class="v-align-middle" style="vertical-align: middle">
                        <button ng-click="addSeries(series)" class="btn btn-lg btn-primary" type="button"><i
                                class="fa fa-plus"></i></button>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-if="series.remote_image_uri">
                            <a ng-href="{{ series.remote_link }}" target="_blank"
                               ng-bind="series.title"
                               title="<img src='{{ series.remote_image_uri }}' />" data-toggle="tooltip"
                               data-placement="top" tooltip></a>
                        </p>
                        <p ng-if="!series.remote_image_uri"><a ng-href="{{ series.remote_link }}" target="_blank">{{
                            series.title }}</p>
                    </td>
                    <td class="text-center v-align-middle" style="padding-left: 10px">
                        <p ng-bind="series.status"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p dd-text-collapse dd-text-collapse-max-length="100"
                           dd-text-collapse-text="{{ series.summary }}"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="series.started_at | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="series.rating"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-if="searchForTorrents" class="panel panel-transparent">
        <div class="panel-heading">
            <div class="panel-title">Torrent results</div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div ng-show="torrentsLoading" class="progress-circle-indeterminate m-t-45"></div>

            <div ng-show="!torrentsLoading && !searchResults.torrents.length">
                No torrents matched
            </div>

            <table ng-show="!torrentsLoading && searchResults.torrents.length" class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 35px">&nbsp;</th>
                    <th>Title</th>
                    <th class="text-center" style="width: 20%">Category</th>
                    <th style="width: 120px">Published</th>
                    <th style="width: 120px">Feed</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="torrent in searchResults.torrents">
                    <td class="v-align-middle" style="vertical-align: middle">
                        <button ng-click="downloadTorrent(torrent)" class="btn btn-lg"
                                ng-class="{'btn-primary': (torrent.downloads | inArray : torrent.id)}" type="button"><i
                                class="fa fa-download"></i></button>
                    </td>
                    <td class="v-align-middle">
                        <p ng-bind="torrent.title"></p>
                    </td>
                    <td class="text-center v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.category"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.published_at | asDate | date:'mediumDate'"></p>
                    </td>
                    <td class="v-align-middle" style="padding-left: 10px">
                        <p ng-bind="torrent.feed.title"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>